*{
    font-family: sans-serif;
}

/* html{
    font-size: 62.5%;
} */

body{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

h1{
    font-size: 25px ;
    margin: 20px 0;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

button{
    border: none;
}

.Error404{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}